arm-advanced/azuredeploy-depend.parameters.json
**/.vs
**/.idea
**/.vscode
**/obj
**/bin
*.zip
*.DotSettings.user
/Labs/
funcfunc/funcapp/Properties/PublishProfiles/func2func - Zip Deploy.pubxml
*.csproj.user
